
*.xml
*.iml
.DS_Store
node_modules/*
*.xml
*.xml
*.xml
.idea/vcs.xml
backend/package-lock.json
backend/node_modules

backend/.env
admin/node_modules
admin/eslint.config.js
admin/package-lock.json
admin/postcss.config.js
admin/README.md
admin/.env
frontend/.env
frontend/package-lock.json
frontend/package-lock.json
